/* mvp css framework */
@import "https://unpkg.com/mvp.css@1.12/mvp.css" layer(framework);
/* basic reset */
* {
  box-sizing: border-box;
}
main {
  min-height: 70vh;
}
form {
  margin: 0 auto;
}
:root {
  --error-color: #dc143c25;
  --success-color: #2e8b5725;
}

/* navbar */
nav {
  padding: 0 1rem;
  margin-bottom: 0rem;
}
#root > nav {
  background-color: dodgerblue;
}
nav a {
  line-height: 48px;
  margin: 0;
  color: white;
}
nav a:hover {
  text-decoration: none;
}
nav a.active {
  border-bottom: 3px solid black;
}

/* posts */
aside > * {
  padding: 0 !important;
}
aside header {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: start;
}
aside header > h3 {
  flex-grow: 1;
}
aside footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

/* post detail */
article.detail {
  box-shadow: 0 0 10px silver;
  border-radius: 1rem;
  overflow: hidden;
}
article > div {
  padding: 1rem;
}
article > nav {
  background-color: var(--color-secondary);
}

/* creat post */

.capitalize {
  text-transform: capitalize;
}
form button {
  width: 100%;
  margin-right: 1rem;
}

article aside.error {
  padding: 0.25rem 1rem;
  background-color: var(--error-color);
  border-left: 4px solid crimson;
}
article aside.success {
  padding: 0.25rem 1rem;
  background-color: var(--success-color);
  border-left: 4px solid seagreen;
}
/* input:empty + [hidden] {
  display: none;
} */

/* account */

/* footer */

#root > footer {
  width:100%;
  max-width: 100%;
  background-color: var(--color-secondary-accent);
}

/* loading spinner */

.spinner {
  margin: 100px auto;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid dodgerblue;
  animation: rotating 1s infinite linear;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
